<div class="hidden md:flex flex-col object-top fixed w-64 max-w-sm ml-12">
  <%= link_to "/", class: "text-8xl font-black pb-8 logo" do %>
    <div>JO</div>
    <div>SH</div>
  <% end %>
  <div class="text-gray-900 mb-2">
    Josh Vince
  </div>
  <%= sidebar_link "About", "/" %>
  <%= sidebar_link "Blog", "/blog" %>
  <%= sidebar_link "Things", "/info/projects" %>
  <%= sidebar_link "Contact", "/info/contact" %>
  <%= sidebar_link "Github", "https://github.com/joshvince", target: :_blank %>
  <%= sidebar_link "LinkedIn", "https://www.linkedin.com/in/joshvince/", target: :_blank %>
</div>
