<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800">Hi</h1>
    <p class="mb-12">Welcome. I'm a software developer who likes to write.
      This is sort of like my GeoCities page (ask your parents.)
      Take a look around to see things I've made and more about me.
      Below are a few recent highlights.</p>
    <%= link_to the_bit_path do %>
        <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl p-6 mb-14 the-bit-color-palette">
          <h2 class="font-bold text-3xl mb-3">The Bit</h2>
          <p class="text-sm mb-4"><%= Date.parse('2024-01-15').strftime("%d %B %Y") %></p>
          <p>A short story made for the web</p>
        </div>
    <% end %>

    <% @highlighted_blog_posts.map do |post| %>
        <%= link_to "/blog/#{post.slug}" do %>
          <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl bg-white p-6 mb-14">
            <h2 class="text-gray-800 font-black text-3xl mb-3"><%= post.title %></h2>
            <p class="uppercase text-sm text-gray-500 mb-4"><%= post.published_date %></p>
            <p class="text-gray-800"><%= post.subtitle %></p>
          </div>
        <% end %>
    <% end %>
  </div>
<% end %>
