<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800">Me</h1>
    <div class="max-w-prose text-left">
      <p class="mb-6">
        I live on the south coast of the UK and work as a software engineer at
        <%= underlined_external_link "Carwow", %"https://carwow.co.uk" %>.
        I enjoy making things like software, words, music, films and food. Over the years
        I've done this with varying degrees of success (RIP
        <%= underlined_external_link "the flash cartoon site", "https://web.archive.org/web/20050210033700/http://www.mediamirror.co.uk:80/" %>
        we made as 15 year olds, deservedly lost to the annals of oblivion.)
      </p>
      <p class ="mb8">
        I don't have any social media, so this is <%= underlined_internal_link "part CV", jobs_path %>,
        part <%= underlined_internal_link "repository of stuff I've made", side_projects_path %> and part
        <%= underlined_internal_link "blog", writing_index_path %>.
        My mouthpiece into the collective void.
      </p>
      <h2 class="font-black text-5xl text-left text-gray-800 mt-10 mb-8">Code</h2>
      <p>
        I learned to code in 2015 and sometimes make little projects for fun. You can see
        some of them at the <%= underlined_internal_link "Projects page", side_projects_path %>.
        <br/><br/> I've worked in software companies as a product person in a variety of roles since 2015.
        Right now I work as a software engineer at <%= underlined_external_link "Carwow", %"https://carwow.co.uk" %>.
      </p>
      <br/>
      <p>
        Before Carwow, I helped to grow the Product team at <%= underlined_external_link "Zencargo", "https://zencargo.com" %>
        from 4 to 50 people. Before that, I worked at TRX, a marketplace helping TV channels connect with
        rights holders to license content around the world.
      </p>
      <h2 class="font-black text-5xl text-left text-gray-800 mt-10 mb-8">Words</h2>
      <p>
        Before I moved into software I worked in the TV industry working with scriptwriters. Weirdly,
        I also worked on a spin-off of Eastenders. I directed a play at the Edinburgh Fringe Festival and somehow
        I've got a surreal <%= underlined_external_link "IMDb", "https://www.imdb.com/name/nm4531408/" %> page
        that shows the lengths my friends and I would go to to avoid doing real work.
      </p>
      <h2 class="font-black text-5xl text-left text-gray-800 mt-10 mb-8">Music</h2>
      <p>
        As a teenager, I played in a bunch of (criminally unsuccessful) bands. We were pretty sure there was
        an A&amp;R man at a gig we played above a bar once. It was easy to tell because there were only 6 people there
        and we didn't recognise one of them. Nowadays, I play music just for myself. The world is largely unconcerned by
        this development.
      </p>
      <h2 class="font-black text-5xl text-left text-gray-800 mt-10 mb-8">And</h2>
      <p>
        You've made it this far, so lets talk about the important stuff: I am passionate about history, especially
        Republican Rome. I also love football and have a season ticket at Brighton. As you might expect, these two
        interests rarely intersect. If they do for you too, let's chat.
      </p>
      <br/>
      <p>
        <%= underlined_internal_link "Find my contact details here", contact_path %>. No Crystal Palace fans or Carthaginians.
      </p>
    </div>
  </div>
<% end %>
