<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, writing_index_url(format: "rss")) %>
<% end %>

<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800"><%= @heading %></h1>
    <p class="mb-12"><%= @page_subtitle %></p>
    <% if @posts.empty? %>
      <p>Coming soon... probably </p>
    <% end %>
    <% @posts.map do |post| %>
      <% if post.path == the_bit_path %>
        <%= render partial: 'writing/the_bit_preview', locals: { the_bit: post }  %>
      <% else %>
        <%= render partial: 'writing/regular_post_preview', locals: { post: }  %>
      <% end %>
    <% end %>
  </div>
<% end%>
