<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800"><%= title %></h1>
    <p class="mb-12"><%= subtitle %></p>
    <% projects.map do |project| %>
      <%= link_to project_path(project.slug) do %>
        <div class="mb-14 rounded-md shadow-lg hover:shadow-xl bg-white p-6">
            <h2 class="text-gray-800 font-black text-4xl mb-1"><%= project.name %></h2>
          <p class="uppercase text-gray-500 mb-4"><%= project.subtitle %></p>
          <p class="text-gray-800"><%= project.tagline %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
