<div class="hidden md:flex flex-col object-top fixed w-64 max-w-sm ml-12">
  <%= link_to root_path, class: "text-8xl font-black pb-8 gradient" do %>
    <div>JO</div>
    <div>SH</div>
  <% end %>
  <div class="text-gray-900 mb-2">
    Josh Vince
  </div>
  <%= sidebar_link "About", root_path %>
  <%= sidebar_link "Writing", writing_path %>
  <%= sidebar_link "Projects", side_projects_path %>
  <%= sidebar_link "Jobs", jobs_path %>
  <%= sidebar_link "Contact", contact_path %>
  <%= sidebar_link "Github ðŸ–‡ï¸", "https://github.com/joshvince", target: :_blank %>
  <%= sidebar_link "LinkedIn ðŸ–‡ï¸", "https://www.linkedin.com/in/joshvince/", target: :_blank %>
</div>
